:root {
  --primary-color: #cbb085;
  --ff: "Montserrat", sans-serif;
}

.border {
  background-color: var(--primary-color) !important;
}

.wrapper {
  position: relative;
}
.active {
  color: #cbb085 !important;
}

.display-5 {
  color: #cbb085;

  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #cbb085;
  font-family: "Montserrat", sans-serif;
}

span {
  color: #575756;
}

.h4 {
  position: absolute;

  top: 63%;
  left: 15%;
  font-size: 1rem !important;
}

.btn {
  background-color: #cbb085 !important;
}

.h1 {
  position: absolute !important;
  top: 45%;
  left: 15%;
  width: 8rem !important;
  font-family: var(--ff);
  line-height: 0.8 !important;
  font-size: 4rem !important;
}
.h3 {
  position: absolute !important;
  top: 58%;
  left: 15%;
}

.navbar-toggler {
  background-color: #cbb085 !important;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100 !important;
  width: 40rem !important;
}

.navbar-brand {
  min-height: inherit;
}

.navbar-brand > img {
  z-index: 999 !important;
}

@media only screen and (max-width: 306px) {
  .navbar-brand > img {
    height: 1.5rem;
  }
  .navbar-toggler-icon {
    margin: -0.4rem;
  }
}

.carousel-img {
  position: absolute;
  top: 35%;
  left: 15%;
}
/* 
@media only screen and (max-width: 678px){

} */
